.c-item{
  margin-top: 100px;
  height: auto;
}
.c-img {
  
  height: 100%;
  object-fit: cover;
}
body {
  background-color: rgb(213, 230, 230);
  min-width:1500px;
}

.navbar-brand {
  font-size: 30px;
}

.UCISA {
  width: 400px;
  height:130px; 
  color:rgb(0, 0, 0);
  text-align: center;
  margin: auto;
  border-radius: 20px;
}
.UCISA img {
  height: 100px;
  padding-left: 20px;
}

.main-div {

    font-size: 4em; /* Adjust font size */
    text-align: center;
    padding-top: 20px;
    color: #282c34; /* Set text color */
}



.navbar-nav {
  font-size: 30px; 
}




.circular--portrait { 
  position: relative; 
  width: 400px; 
  height: 600px; 
  overflow: hidden;
  margin-top: 50px;
  border-radius: 50%; 
  background-color: #000000;
  margin-bottom: 100px;
  box-shadow: 2px 2px 50px .4px black;
  margin-left: 50px;
} 


.carousel-item img {
  border-radius: 20px;
  max-width: 70%; 
  padding-bottom: 300px;
}

.aboutme {
  margin-top: 300px;
  margin-bottom: 300px;
  width: 100%;
  padding: 70px 0;
}

.aboutme h2 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.home_top_info {
  position: relative;
  text-align: center;
  color: #fff; /* Set text color */
  top: -100px;
  transform: transform 0.3;
}


.home_top_info:hover {
  transform: scale(1.1);
  transform: rotate(-20deg);
}

.background-image {
  z-index: -1;
  position: absolute;
  top: -95px;
  left:-100px;
  width: 210%;
  height: 300%;
  transform: rotate(15deg);
 
}


.home__title {
  z-index: 1;
  font-size: 35px;
  text-align:start;
  color: rgb(123, 115, 115);
}

.aboutme h2 span {
  color: #6a5ab1;
  margin-left: 15px;
  font-family:mv boli;
}

.aboutme h2 span::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #4f38b3;
  display: block;
  position: relative;
  bottom: 15px;
}

.circular--portrait img {  
  width: 100%; 
  height: auto;
  padding-bottom: 20px;
  background-color: grey; 
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}